@charset "UTF-8";
html {
  font-family: 'Bebas Neue', cursive; }

h1 {
  color: #E6E6E6;
  font-family: 'Bebas Neue', cursive; }

body {
  margin: 0px;
  background-image: linear-gradient(to bottom, #880d3f, #120b37, #0020D8);
  text-align: justify; }

/*barra*/
nav {
  background-image: linear-gradient(to bottom right, #880d3f, #120b37, #0020D8); }

.barra__logo {
  height: 100%;
  width: 45%; }

.barra {
  font-size: 62.5%;
  margin: 0;
  display: grid;
  grid-template-columns: 15% 60% 15%;
  grid-column-gap: 5%;
  grid-template-rows: 100%; }

ul {
  margin: 0;
  height: 100%;
  display: flex;
  font-size: 480%;
  list-style-type: none;
  justify-content: center;
  box-sizing: content-box; }
  ul li {
    border-style: groove;
    font-family: 'Bebas Neue', cursive;
    color: white;
    background-color: #030B91;
    opacity: 80%;
    width: 30%;
    text-align: center;
    padding-top: 2%; }
    ul li a {
      text-decoration: none;
      color: #ffffff; }

li:hover {
  background-color: #880d3f;
  color: #ffffff; }

.barra__Redes {
  display: flex;
  margin: 0;
  align-items: center;
  padding-left: 3rem; }

.barra__Redes--Youtube {
  padding-left: 0%; }

/*Estilo de Main*/
p {
  font-size: 270%;
  color: #E6E6E6; }

/*Estilo de Imagenes*/
.section1__Imagenes {
  top: 70%;
  position: absolute;
  height: 40%;
  width: 20%; }

.section1__Imagenes--Izquierda {
  left: 20.5%; }

.section1__Imagenes--DelMedio {
  left: 40.87%; }

.section1__Imagenes--Derecha {
  left: 61%; }

.section1__texto {
  margin-top: 10%;
  color: #E6E6E6; }

.section1__texto--titulo {
  padding-left: 10%;
  font-size: 4rem; }

h3 {
  padding-top: 250px;
  color: #E6E6E6; }

.section1__Spotify {
  height: 500px; }

/*Foooter*/
#Participa {
  font-size: 200%;
  color: #E6E6E6;
  padding-bottom: 2%; }

.Texto_footer {
  padding-left: 8%;
  padding-bottom: 9%; }

.form-control {
  width: 95%; }

.section2 {
  margin-top: 5rem; }

.section2__Contacto {
  background-color: #880d3f;
  margin-left: 15%;
  height: 100%;
  width: 70%; }

.section2__Mapa {
  width: 100%; }

/*Galería*/
.Banderas {
  align-items: stretch;
  justify-content: center;
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%; }

.Banderas__Argentina {
  width: 100%;
  height: 100%; }

.Banderas__Argentina:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25); }

.Banderas__Espania {
  height: 100%;
  width: 100%; }

.Banderas__Espania:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25); }

.Banderas__Colombia {
  height: 100%;
  width: 100%; }

.Banderas__Colombia:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25); }

.Banderas__Chile {
  height: 100%;
  width: 100%; }

.Banderas__Chile:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25); }

.Banderas__Mexico {
  height: 100%;
  width: 100%; }

.Banderas__Mexico:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25); }

.Imagenes {
  display: flex;
  height: 100%;
  width: 100%; }

.NombresDePaises {
  color: white;
  font-size: 4rem;
  background-color: #DB8310;
  padding-left: 50%; }

.Video__Galeria {
  height: 35rem;
  width: 100%; }

/*Aplicacion*/
.Aplicacion {
  display: grid;
  grid-template-areas: 'ImagenAplicacion VideoAplicacion' 'ImagenAplicacion VideoAplicacion' 'ImagenAplicacion TextoDeApp';
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 52%;
  background-color: #E6E6E6; }

.Aplicacion__Video {
  grid-area: VideoAplicacion;
  width: 100%; }

.Aplicacion__Imagen {
  grid-area: ImagenAplicacion; }

.Aplicacion__Texto {
  grid-area: TextoDeApp; }

.Aplicacion__Texto--span {
  color: #120b37;
  font-size: 1.29rem; }

/*Calendario*/
.Calendario__Mes {
  background-color: black;
  color: #E6E6E6;
  padding-left: 45%; }

.Calendario__Imagen {
  width: 80%; }

/*Error*/
.Error {
  background-image: url(../Media/error.jpg);
  height: 100%;
  width: 100%; }

.Error__Texto {
  background-color: #DB8310;
  color: #E6E6E6;
  text-decoration: none;
  font-size: 3rem; }

/*Celular*/
@media only screen and (min-width: 226px) and (max-width: 322px) {
  html {
    font-size: 62.5%;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0; }
  body {
    margin: 0px;
    background-color: #880d3f;
    text-align: justify; }
  /*barra*/
  nav {
    background-color: #E6E6E6; }
  .barra__logo {
    width: 60%;
    height: 90%;
    padding-left: 5%; }
  .barra {
    margin: 0;
    display: grid;
    grid-template-columns: 15% 60% 15%;
    grid-column-gap: 5%;
    grid-template-rows: 100%;
    height: 5rem;
    font-size: 100%; }
  .barra__Redes {
    padding-left: 0%; }
  ul {
    margin: 0;
    height: 100%;
    display: flex;
    font-size: 140%;
    list-style-type: none;
    justify-content: center;
    padding-top: 5%;
    padding-right: 15%;
    box-sizing: content-box; }
    ul li {
      border-color: #007aff;
      border-style: groove;
      color: white;
      background-color: #030B91;
      opacity: 80%;
      width: 50%;
      text-align: center;
      padding-top: 2%;
      height: 70%; }
      ul li a {
        text-decoration: none;
        color: white; }
    ul li:hover {
      background-color: white; }
  .NombresDePaises {
    color: white;
    font-size: 1.5rem;
    background-color: #DB8310;
    padding-left: 50%; }
  .barra__Redes {
    padding-top: 25%;
    display: flex;
    margin: 0; }
  .barra__Redes--Youtube {
    padding-left: 0%;
    height: 60%;
    width: 60%; }
  .barra__Redes--Twitter {
    height: 60%;
    width: 60%; }
  .barra__Redes--Instagram {
    height: 60%;
    width: 60%; }
  /*Estilo de Main*/
  .CuadroDeTexto {
    background-color: #030B91; }
  p {
    font-size: 160%; }
  .Texto {
    background-color: #030B91;
    color: #E6E6E6;
    padding-top: 25%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 100px; }
  /*Estilo de Imagenes*/
  .section1__Imagenes {
    top: 10rem;
    position: absolute;
    height: 8rem;
    width: 6rem; }
  .section1__Imagenes--Izquierda {
    left: 7rem; }
  .section1__Imagenes--DelMedio {
    left: 12.5rem; }
  .section1__Imagenes--Derecha {
    left: 18rem; }
  h3 {
    padding-top: 25%;
    color: #E6E6E6; }
  .section1 {
    background-color: #030B91; }
  .section1__Spotify {
    height: 180px; }
  .section2__Mapa {
    width: 100%; }
  /*Foooter*/
  #Participa {
    font-size: 200%;
    padding-top: 10%; }
  .section2 {
    padding-left: 0%; }
  /*Aplicacion*/
  .Aplicacion {
    display: grid;
    grid-template-areas: 'VideoAplicacion VideoAplicacion' 'TextoDeApp TextoDeApp' 'TextoDeApp TextoDeApp' 'TextoDeApp TextoDeApp' 'ImagenAplicacion ImagenAplicacion';
    grid-template-rows: 20% 20% 10%;
    background-color: #E6E6E6;
    height: 1200px; }
  .VideoAplicacion {
    grid-area: VideoAplicacion; }
  .ImagenAplicacion {
    grid-area: ImagenAplicacion;
    height: 190px;
    overflow: hidden; }
  .Imagen {
    width: 100%; }
  .Aplicacion__Texto {
    grid-area: TextoDeApp; }
    .Aplicacion__Texto--span {
      font-size: 1rem; }
  iframe {
    width: 100%; }
  .Tabla__1 {
    font-size: 0.2rem; }
  .Tabla__2 {
    font-size: 0.4rem; }
  .Tabla__3 {
    font-size: 0.6rem; } }

/*Tablet*/
@media only screen and (max-width: 767px) and (min-width: 321px) {
  html {
    font-size: 62.5%;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0; }
  body {
    margin: 0px;
    background-color: #880d3f;
    text-align: justify; }
  /*barra*/
  nav {
    background-color: #E6E6E6; }
  .NombresDePaises {
    color: white;
    font-size: 2rem;
    background-color: #DB8310;
    padding-left: 50%; }
  .barra__logo {
    width: 65%;
    height: 100%;
    padding-left: 5%; }
  .barra {
    margin: 0;
    display: grid;
    grid-template-columns: 15% 60% 15%;
    grid-column-gap: 5%;
    grid-template-rows: 100%;
    font-size: 100%; }
  .barra__Redes {
    padding-left: 0%; }
  .barra__Redes--Youtube {
    padding-left: 0%;
    height: 60%;
    width: 60%; }
  .barra__Redes--Twitter {
    height: 60%;
    width: 60%; }
  .barra__Redes--Instagram {
    height: 60%;
    width: 60%; }
  ul {
    padding-left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    font-size: 160%;
    list-style-type: none;
    padding-top: 3%;
    box-sizing: content-box; }
    ul li {
      border-color: #007aff;
      border-style: groove;
      color: white;
      background-color: #030B91;
      opacity: 80%;
      width: 50%;
      text-align: center;
      padding-top: 3%;
      height: 80%; }
      ul li a {
        text-decoration: none;
        color: white; }
  li:hover {
    background-color: white; }
  .barra__Redes--Youtube {
    padding-left: 0%;
    height: 60%;
    width: 60%; }
  .barra__Redes--Twitter {
    height: 60%;
    width: 60%; }
  .barra__Redes--Instagram {
    height: 60%;
    width: 60%; }
  /*Estilo de Main*/
  p {
    font-size: 160%; }
  /*Estilo de Imagenes*/
  .section1__Imagenes {
    top: 12rem;
    position: absolute;
    height: 8rem;
    width: 8rem;
    border: outset; }
  .section1__Imagenes--Izquierda {
    left: 21%; }
  .section1__Imagenes--DelMedio {
    left: 41%; }
  .section1__Imagenes--Derecha {
    left: 61.3%; }
  h3 {
    padding-top: 25%;
    color: #E6E6E6; }
  .section1 {
    background-color: #030B91; }
  /*Foooter*/
  #Participa {
    font-size: 200%;
    padding-top: 10%; }
  .section2 {
    padding-left: 0%; }
  /*Aplicacion*/
  .Aplicacion {
    display: grid;
    grid-template-areas: 'ImagenAplicacion ImagenAplicacion' 'VideoAplicacion VideoAplicacion' 'TextoDeApp TextoDeApp';
    grid-template-rows: 20% 20% 10%;
    background-color: #E6E6E6;
    height: 1200px; }
  .Aplicacion__Video {
    grid-area: VideoAplicacion; }
  .Aplicacion__Imagen {
    grid-area: ImagenAplicacion;
    overflow: hidden; }
  .Imagen {
    height: 300%;
    width: 100%; }
  .Aplicacion__Texto {
    grid-area: TextoDeApp;
    padding-top: 4rem; }
  /*Calendario*/
  .Tabla__1 {
    font-size: 0.29rem; }
  .Tabla__2 {
    font-size: 0.58rem; }
  .Tabla__3 {
    font-size: 0.87rem; } }

@media only screen and (max-width: 767px) and (min-width: 560px) {
  .section1__Imagenes {
    height: 12rem;
    width: 11rem; } }

@media only screen and (min-width: 768px) and (max-width: 1288px) {
  ul {
    margin: 0;
    height: 100%;
    display: flex;
    font-size: 170%;
    list-style-type: none;
    justify-content: center;
    box-sizing: content-box; }
  .barra {
    font-size: 100%; }
  .section1__Spotify {
    height: 270px; }
  .section2 {
    padding-left: 0%; }
  .section2__Mapa {
    width: 775px; }
  .barra__Redes {
    padding-left: 0%; }
  /*Aplicacion*/
  .Aplicacion__Video {
    height: 25;
    width: 23; }
  .Aplicacion__Imagen {
    width: 5rem; }
  .Imagen {
    width: 250px; } }

@media only screen and (max-width: 226px) {
  html {
    font-size: 62.5%;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0; }
  body {
    margin: 0px;
    background-color: #880d3f;
    text-align: justify; }
  /*barra*/
  nav {
    background-color: #E6E6E6; }
  .barra__logo {
    width: 60%;
    height: 90%;
    padding-left: 5%; }
  .barra {
    margin: 0;
    display: grid;
    grid-template-columns: 15% 60% 15%;
    grid-column-gap: 5%;
    grid-template-rows: 100%; }
  .barra__Redes {
    padding-left: 0%; }
  .barra__Redes--Youtube {
    padding-left: 0%;
    height: 60%;
    width: 60%; }
  .barra__Redes--Twitter {
    height: 60%;
    width: 60%; }
  .barra__Redes--Instagram {
    height: 60%;
    width: 60%; }
  ul {
    margin: 0;
    height: 100%;
    display: flex;
    font-size: 140%;
    list-style-type: none;
    justify-content: center;
    padding-top: 5%;
    padding-right: 15%;
    box-sizing: content-box; }
    ul li {
      border-color: #007aff;
      border-style: groove;
      color: white;
      background-color: #030B91;
      opacity: 80%;
      width: 50%;
      text-align: center;
      padding-top: 2%;
      height: 70%; }
      ul li a {
        text-decoration: none;
        color: white; }
    ul li:hover {
      background-color: white; }
  .barra__Redes {
    padding-top: 25%;
    display: flex;
    margin: 0; }
  .barra__Redes--Youtube {
    padding-left: 0%; }
  /*Estilo de Main*/
  .CuadroDeTexto {
    background-color: #030B91; }
  p {
    font-size: 160%; }
  .Texto {
    background-color: #030B91;
    color: #E6E6E6;
    padding-top: 25%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 100px; }
  /*Estilo de Imagenes*/
  .section1__Imagenes {
    top: 15%;
    position: absolute;
    height: 10%;
    width: 20%; }
  .section1__Imagenes--Izquierda {
    left: 21.5%; }
  .section1__Imagenes--DelMedio {
    left: 43%; }
  .section1__Imagenes--Derecha {
    left: 64.2%; }
  h3 {
    padding-top: 25%;
    color: #E6E6E6; }
  .section1 {
    background-color: #030B91; }
  .section1__Spotify {
    height: 180px; }
  .section2__Mapa {
    width: 100%; }
  /*Foooter*/
  #Participa {
    font-size: 200%;
    padding-top: 10%; }
  .section2 {
    padding-left: 0%; }
  /*Aplicacion*/
  .Aplicacion {
    display: grid;
    grid-template-areas: 'ImagenAplicacion ImagenAplicacion' 'VideoAplicacion VideoAplicacion' 'TextoDeApp TextoDeApp';
    grid-template-rows: 20% 20% 10%;
    background-color: #E6E6E6;
    height: 1200px; }
  .Aplicacion__Video {
    grid-area: VideoAplicacion; }
  .Aplicacion__Imagen {
    grid-area: ImagenAplicacion;
    height: 190px;
    overflow: hidden; }
  .Imagen {
    width: 100%; }
  .Aplicacion__Texto {
    grid-area: TextoDeApp; }
  iframe {
    width: 100%; }
  .NombresDePaises {
    color: white;
    font-size: 1rem;
    background-color: #DB8310;
    padding-left: 50%; } }
