@charset "UTF-8";
html {
  font-family: 'Bebas Neue', cursive; }

h1 {
  color: #E6E6E6;
  font-family: 'Bebas Neue', cursive; }

body {
  margin: 0px;
  background-image: linear-gradient(to bottom, #880d3f, #120b37, #0020D8, #880d3f, #120b37);
  text-align: justify;
  overflow-x: hidden; }

/*barra*/
.barra__logo {
  height: 100%;
  width: 45%; }

.barra {
  background-image: linear-gradient(to bottom right, #880d3f, #120b37, #0020D8);
  font-size: 62.5%;
  margin: 0;
  display: grid;
  grid-template-columns: 15% 60% 15%;
  grid-column-gap: 5%;
  grid-template-rows: 100%; }

.Menu_label {
  display: none; }

.Lista_Menu {
  margin: 0;
  height: 100%;
  display: flex;
  font-size: 480%;
  list-style-type: none;
  justify-content: center;
  box-sizing: content-box;
  margin-bottom: 1rem; }
  .Lista_Menu li {
    border-style: groove;
    font-family: 'Bebas Neue', cursive;
    color: white;
    background-color: #030B91;
    opacity: 80%;
    width: 30%;
    text-align: center;
    padding-top: 2%; }
    .Lista_Menu li a {
      text-decoration: none;
      color: #ffffff; }

li:hover {
  background-color: #880d3f;
  color: #ffffff; }

.barra__Redes {
  display: flex;
  margin: 0;
  align-items: center;
  padding-left: 3rem; }

.barra__Redes--Youtube {
  padding-left: 0%; }

/*Estilo de Main*/
p {
  font-size: 270%;
  color: #E6E6E6; }

/*Estilo de Imagenes*/
.section1__Imagenes {
  top: 70%;
  position: absolute;
  height: 40%;
  width: 20%; }

.section1__Imagenes--Izquierda {
  left: 20.5%; }

.section1__Imagenes--DelMedio {
  left: 40.87%; }

.section1__Imagenes--Derecha {
  left: 61%; }

.section1__texto {
  margin-top: 10%;
  color: #E6E6E6; }

.section1__texto--titulo {
  font-size: 4rem; }

.section1__Spotify {
  height: 500px; }

#Participa {
  font-size: 200%;
  color: #E6E6E6;
  padding-bottom: 2%; }

.Texto_form {
  padding-left: 10rem;
  padding-bottom: 5rem;
  padding-top: 5rem; }

.form-control {
  width: 95%; }

.section2 {
  margin-top: 5rem; }

.section2__Contacto {
  margin-left: 15%;
  height: 100%;
  width: 70%; }

.section2__Mapa {
  width: 100%; }

/*Foooter*/
footer {
  grid-area: footer; }

a {
  text-decoration: none;
  color: #E6E6E6; }

.Menu_Footer {
  text-align: center;
  align-self: center; }

.Redes_Footer {
  align-items: center;
  justify-content: center; }

/*Galería*/
.Banderas {
  align-items: stretch;
  justify-content: center;
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  overflow: hidden; }

.Banderas__Argentina {
  width: 100%;
  height: 100%; }

.Banderas__Argentina:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25); }

.Banderas__Espania {
  height: 100%;
  width: 100%; }

.Banderas__Espania:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25); }

.Banderas__Colombia {
  height: 100%;
  width: 100%; }

.Banderas__Colombia:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25); }

.Banderas__Chile {
  height: 100%;
  width: 100%; }

.Banderas__Chile:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25); }

.Banderas__Mexico {
  height: 100%;
  width: 100%; }

.Banderas__Mexico:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25); }

.Paises {
  padding-top: 3rem; }

.Imagenes {
  display: flex;
  height: 100%;
  width: 100%; }

.NombresDePaises {
  color: white;
  font-size: 4rem;
  background-color: #120b37;
  padding-left: 46%;
  margin-bottom: 3rem;
  border: inset;
  border-color: #880d3f;
  border-width: 0.5rem; }

.Video__Galeria {
  height: 35rem;
  width: 100%; }

/*Aplicacion*/
.Aplicacion {
  display: grid;
  grid-template-areas: 'ImagenAplicacion VideoAplicacion' 'ImagenAplicacion TextoDeApp' 'ImagenAplicacion TextoDeApp' 'footer footer';
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 3fr 2fr 2.3fr;
  background-color: #E6E6E6;
  grid-column-gap: 1%;
  grid-row-gap: 1%; }

.Aplicacion__Video {
  grid-area: VideoAplicacion;
  width: 100%; }

.Aplicacion__Imagen {
  grid-area: ImagenAplicacion; }

.Aplicacion__Texto {
  grid-area: TextoDeApp; }

.Aplicacion__Texto--span {
  color: black;
  font-size: 1.29rem; }

.Aplicacion__Video--Youtube {
  height: 38rem;
  width: 100%; }

/*Calendario*/
.Calendario__Mes {
  background-color: black;
  color: #E6E6E6;
  padding-left: 45%; }

.card-text {
  font-size: 100%;
  color: white; }

h5 {
  color: white; }

.Calendario__Imagen {
  height: 30rem;
  width: 50rem; }

.Calendario__Imagen__Sola {
  padding-left: 20rem;
  padding-right: 25rem; }

.Calendario__Card {
  background-image: linear-gradient(to bottom, #880d3f, #120b37, #0020D8, #880d3f, #120b37); }

.Calendario__Link {
  border: inset;
  background-color: #120b37;
  border-color: #880d3f; }

/*Error*/
.Error {
  background-color: #120b37;
  color: #E6E6E6;
  text-decoration: none;
  font-size: 3rem;
  height: 65rem;
  padding: 0%;
  margin: 0%; }

.Error__Imagen {
  width: 50%; }

.Error__Div {
  height: 65rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center; }

.Error__Texto {
  font-size: 10rem; }

.Error__Boton {
  background-image: linear-gradient(to bottom right, #880d3f, #120b37, #0020D8);
  color: #E6E6E6; }

/*Celular*/
@media only screen and (min-width: 226px) and (max-width: 322px) {
  html {
    font-size: 62.5%;
    margin: 0;
    padding: 0; }
  /*barra*/
  .barra {
    margin: 0;
    display: grid;
    grid-template-areas: 'menu logo';
    grid-template-columns: 15% 15%;
    grid-column-gap: 70%;
    grid-template-rows: 100%;
    height: 5rem;
    font-size: 100%; }
  .barra__Redes {
    display: none; }
  .barra__logo {
    height: 100%;
    width: 60%;
    padding-left: 5%;
    grid-area: logo; }
  #menu_input {
    display: none; }
  .Menu_label {
    display: grid;
    color: #E6E6E6;
    border-color: #120b37;
    background: #880d3f; }
  .Menu {
    grid-area: menu; }
  .Lista_Menu {
    display: none; }
    .Lista_Menu li {
      border-color: #007aff;
      border-style: groove;
      display: block;
      color: white;
      background-color: #030B91;
      opacity: 95%;
      width: 19rem;
      margin: 0;
      padding: 10px;
      position: relative;
      z-index: 3; }
      .Lista_Menu li a {
        text-decoration: none;
        color: white; }
    .Lista_Menu li:hover {
      background-color: white; }
  input:checked ~ ul {
    display: block; }
  label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    align-content: center; }
  /*Estilo de Main*/
  p {
    font-size: 160%; }
  /*Estilo de Imagenes*/
  .section1__Imagenes {
    top: 10rem;
    position: absolute;
    height: 8rem;
    width: 6rem; }
  .section1__Imagenes--Izquierda {
    left: 7rem; }
  .section1__Imagenes--DelMedio {
    left: 12.5rem; }
  .section1__Imagenes--Derecha {
    left: 18rem; }
  .section1__texto--titulo {
    padding-left: 0; }
  .section1 {
    background-color: #030B91; }
  .section1__Spotify {
    height: 180px; }
  .section2__Mapa {
    width: 100%; }
  /*Foooter*/
  #Participa {
    font-size: 200%;
    padding-top: 10%; }
  .Texto_form {
    padding-left: 1rem; }
  .section2 {
    padding-left: 0%; }
  /*Aplicacion*/
  .Aplicacion {
    display: grid;
    grid-template-areas: 'VideoAplicacion VideoAplicacion' 'TextoDeApp TextoDeApp' 'ImagenAplicacion ImagenAplicacion' 'footer footer';
    background-color: #E6E6E6;
    height: 1200px; }
  footer {
    grid-area: footer; }
  .VideoAplicacion {
    grid-area: VideoAplicacion; }
  .Aplicacion__Video--Youtube {
    height: 100%;
    width: 100%; }
  .ImagenAplicacion {
    grid-area: ImagenAplicacion;
    height: 190px;
    overflow: hidden; }
  .Imagen {
    height: 100%;
    width: 100%; }
  .Aplicacion__Texto {
    grid-area: TextoDeApp;
    padding-top: 0; }
    .Aplicacion__Texto--span {
      font-size: 1rem; }
  iframe {
    width: 100%; }
  /*Galeria*/
  .NombresDePaises {
    font-size: 1.5rem; }
  /*Error*/
  .Error__Texto {
    font-size: 5rem; }
  .Error__Div {
    height: 40rem; } }

/*Tablet*/
@media only screen and (max-width: 767px) and (min-width: 321px) {
  html {
    font-size: 62.5%;
    margin: 0;
    padding: 0; }
  /*barra*/
  .NombresDePaises {
    font-size: 2rem; }
  .barra__logo {
    height: 100%;
    width: 65%;
    padding-left: 5%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .barra {
    margin: 0;
    display: grid;
    grid-template-areas: 'menu logo';
    grid-template-columns: 15% 15%;
    grid-column-gap: 70%;
    grid-template-rows: 100%;
    font-size: 100%;
    height: 6rem; }
  .barra__Redes {
    display: none; }
  .Lista_Menu {
    display: none; }
    .Lista_Menu li {
      border-color: #007aff;
      border-style: groove;
      display: block;
      color: white;
      background-color: #030B91;
      opacity: 95%;
      width: 20rem;
      margin: 0;
      padding: 10px;
      position: relative;
      z-index: 3; }
      .Lista_Menu li a {
        text-decoration: none;
        color: white; }
    .Lista_Menu li:hover {
      background-color: white; }
  #menu_input {
    display: none; }
  .Menu_label {
    display: grid;
    color: #E6E6E6;
    border-color: #120b37;
    background: #880d3f; }
  .Menu {
    grid-area: menu; }
  input:checked ~ ul {
    display: block; }
  label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    align-content: center; }
  /*Estilo de Main*/
  p {
    font-size: 160%; }
  /*Estilo de Imagenes*/
  .section1__Imagenes {
    top: 12rem;
    position: absolute;
    height: 8rem;
    width: 8rem;
    border: outset; }
  .section1__Imagenes--Izquierda {
    left: 21%; }
  .section1__Imagenes--DelMedio {
    left: 41%; }
  .section1__Imagenes--Derecha {
    left: 61.3%; }
  .section1__texto--titulo {
    padding-left: 0;
    font-size: 2.4rem; }
  h3 {
    padding-top: 25%;
    color: #E6E6E6; }
  .section1 {
    background-color: #030B91; }
  /*Foooter*/
  #Participa {
    font-size: 200%;
    padding-top: 10%; }
  .Texto_form {
    padding-left: 1rem; }
  .section2 {
    padding-left: 0%; }
  /*Aplicacion*/
  .Aplicacion {
    display: grid;
    grid-template-areas: 'ImagenAplicacion ImagenAplicacion' 'VideoAplicacion VideoAplicacion' 'TextoDeApp TextoDeApp' 'footer footer';
    background-color: #E6E6E6;
    height: 1200px; }
  footer {
    grid-area: footer; }
  .Aplicacion__Video {
    grid-area: VideoAplicacion; }
  .Aplicacion__Imagen {
    grid-area: ImagenAplicacion;
    overflow: hidden; }
  .Imagen {
    height: 300%;
    width: 100%; }
  .Aplicacion__Texto {
    grid-area: TextoDeApp;
    padding-top: 4rem; }
  /*Video App*/
  .Aplicacion__Video--Youtube {
    height: 100%;
    width: 100%; }
  /*Calendario*/
  .Tabla__1 {
    font-size: 0.29rem; }
  .Tabla__2 {
    font-size: 0.58rem; }
  .Tabla__3 {
    font-size: 0.87rem; } }

@media only screen and (max-width: 767px) and (min-width: 560px) {
  .section1__Imagenes {
    height: 12rem;
    width: 11rem; } }

@media only screen and (min-width: 768px) and (max-width: 1288px) {
  .Lista_Menu {
    margin: 0;
    height: 100%;
    display: flex;
    font-size: 170%;
    list-style-type: none;
    justify-content: center;
    box-sizing: content-box;
    margin-bottom: 1rem; }
  .barra {
    font-size: 100%; }
  .section1__Spotify {
    height: 270px; }
  .section2 {
    padding-left: 0%; }
  .section2__Mapa {
    width: 775px; }
  .barra__Redes {
    padding-left: 0%; }
  .section1__Imagenes {
    top: 18rem;
    position: absolute;
    height: 9rem;
    width: 9rem;
    border: outset; }
  .section1__Imagenes--Izquierda {
    left: 21%; }
  .section1__Imagenes--DelMedio {
    left: 41%; }
  .section1__Imagenes--Derecha {
    left: 61.3%; }
  /*Aplicacion*/
  .Aplicacion {
    display: grid;
    grid-template-areas: 'ImagenAplicacion VideoAplicacion' 'TextoDeApp TextoDeApp' 'TextoDeApp TextoDeApp' 'footer footer';
    grid-template-rows: 3fr 2.3fr 1fr; }
  .Aplicacion__Video {
    height: 25;
    width: 23; }
  .Imagen {
    height: 100%;
    width: 100%; }
  /*Video App*/
  .Aplicacion__Video--Youtube {
    height: 100%;
    width: 100%; } }

@media only screen and (min-width: 930px) and (max-width: 1200px) {
  .Calendario__Imagen__Sola {
    padding-left: 10rem;
    padding-right: 10rem; } }

@media only screen and (max-width: 900px) {
  .Calendario__Imagen__Sola {
    padding-left: 0rem;
    padding-right: 0rem; }
  .Calendario__Imagen {
    height: 100%;
    width: 100%; } }

@media only screen and (max-width: 226px) {
  html {
    font-size: 62.5%;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0; }
  /*barra*/
  .barra__logo {
    height: 100%;
    width: 60%;
    padding-left: 5%; }
  .barra {
    margin: 0;
    display: grid;
    grid-template-columns: 15% 60% 15%;
    grid-column-gap: 5%;
    grid-template-rows: 100%; }
  .barra__Redes {
    padding-left: 0%; }
  .barra__Redes--Youtube {
    padding-left: 0%;
    height: 60%;
    width: 60%; }
  .barra__Redes--Twitter {
    height: 60%;
    width: 60%; }
  .barra__Redes--Instagram {
    height: 60%;
    width: 60%; }
  .Lista_Menu {
    margin: 0;
    height: 100%;
    display: flex;
    font-size: 140%;
    list-style-type: none;
    justify-content: center;
    padding-top: 5%;
    padding-right: 15%;
    margin-bottom: 1rem;
    box-sizing: content-box; }
    .Lista_Menu li {
      border-color: #007aff;
      border-style: groove;
      color: white;
      background-color: #030B91;
      opacity: 80%;
      width: 50%;
      text-align: center;
      padding-top: 2%;
      height: 70%; }
      .Lista_Menu li a {
        text-decoration: none;
        color: white; }
    .Lista_Menu li:hover {
      background-color: white; }
  .barra__Redes {
    padding-top: 25%;
    display: flex;
    margin: 0; }
  .barra__Redes--Youtube {
    padding-left: 0%; }
  /*Estilo de Main*/
  .CuadroDeTexto {
    background-color: #030B91; }
  p {
    font-size: 160%; }
  .Texto {
    background-color: #030B91;
    color: #E6E6E6;
    padding-top: 25%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 100px; }
  /*Estilo de Imagenes*/
  .section1__Imagenes {
    top: 15%;
    position: absolute;
    height: 10%;
    width: 20%; }
  .section1__Imagenes--Izquierda {
    left: 21.5%; }
  .section1__Imagenes--DelMedio {
    left: 43%; }
  .section1__Imagenes--Derecha {
    left: 64.2%; }
  h3 {
    padding-top: 25%;
    color: #E6E6E6; }
  .section1 {
    background-color: #030B91; }
  .section1__Spotify {
    height: 180px; }
  .section2__Mapa {
    width: 100%; }
  /*Foooter*/
  #Participa {
    font-size: 200%;
    padding-top: 10%; }
  .section2 {
    padding-left: 0%; }
  /*Aplicacion*/
  .Aplicacion {
    display: grid;
    grid-template-areas: 'ImagenAplicacion ImagenAplicacion' 'VideoAplicacion VideoAplicacion' 'TextoDeApp TextoDeApp' 'footer footer';
    grid-template-rows: 3fr 3fr 2fr;
    background-color: #E6E6E6;
    height: 1200px; }
  footer {
    grid-area: footer; }
  .Aplicacion__Video {
    grid-area: VideoAplicacion; }
  .Aplicacion__Imagen {
    grid-area: ImagenAplicacion;
    height: 190px;
    overflow: hidden; }
  .Imagen {
    height: 100%;
    width: 100%; }
  .Aplicacion__Texto {
    grid-area: TextoDeApp; }
  iframe {
    width: 100%; }
  .NombresDePaises {
    font-size: 1rem; } }
